.task {
    border: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: -1px;
    padding: .4rem .2rem;
}

.task-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: .4rem;
}

.task-wrapper:first-child .task {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.task-wrapper:last-child .task {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    -moz-border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    -webkit-border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.completeCircle {
    border: .1rem solid #bbb;
}

.incompleteCircle {
    border: .1rem solid #000;
}
